@charset "UTF-8";

// Variables for font families and colors
$font-lato: 'Lato', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;
$font-roboto:'Roboto', sans-serif;
$color-primary: #004E9A;
$color-white: #ffffff;
$color-grey: #575B5E;
$color-light-grey: #E8E8E8;
$color-blue: #00568A;
$color-shadow: #262261;

// Import Google Fonts
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, :after, :before {
  box-sizing: inherit !important;
}

/* CSS Document */
.container {
  position: relative;
  background-color: $color-white;
  width: 1024px !important;
  height: 768px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  max-width: none;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
  color: $color-primary !important;
  font-family: $font-lato;
}

header {
  padding: 40px;
  text-align: center;
  padding-bottom: 15px;
}

.index-main{
    background:$color-primary;

   header {
      width: 100%;
      height: 100%;
    }

}


.content-header {
  background-image: url("../image/content-header.png");
  background-size: cover;
  min-height: 100px;
  background-position: center;
}

.logo-image {
  width: 194px;
  height: auto;
  position: absolute;
  right:50px;
  bottom: 50px;
}

.content-logo {
  float: left;
  padding-top: 10px;
}

.index-p {
  width: 60%;
  margin: 0 auto;
  font-family: $font-lato;
  font-size: 27px;
  color: $color-white;
  font-weight: normal;
  padding-top: 30px;
}

.content {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.resource-content {
  padding-left: 40px;
  padding-right: 40px;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  padding-bottom: 0px;
  font-family: $font-lato;
  font-size: 17px;
  background: none;
}

.breadcrumb span {
  padding-right: 10px;
  padding-left: 10px;
}

.breadbrumb-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.card-container {
  width: 45%;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.card {
  background-color: $color-light-grey;
  padding: 0px 20px;
  box-shadow: none;
  border-top: $color-primary 5px solid;
  font-family: $font-lato;
  font-size: 18px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all ease-in-out 500ms;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
  }
}


.CTA {
  background-color: white;
  font-family: $font-roboto;
  font-size: 25px;
  color: $color-primary !important;
  text-transform: uppercase;
  padding: 15px 60px;
  border-radius: 60px;
  margin: 0 auto;
  text-decoration: none !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 500;
  font-style: italic;
  box-shadow: 10px 10px 0 $color-shadow; 
	-webkit-box-shadow: 10px 10px 0 $color-shadow; 
	-moz-box-shadow: 10px 10px 0 $color-shadow; 

  &:hover {
    background-color: darken($color-primary, 20%);
    color:white !important;
      box-shadow: 5px 5px 0 $color-shadow; 
	-webkit-box-shadow: 5px 5px 0 $color-shadow; 
	-moz-box-shadow: 5px 5px 0 $color-shadow; 
  }
}

.CTA-content {
  margin-top: 50px;
}

.CTA-inline {
  margin-left: 1em !important;
}

.confirm-button {
  width: 50%;
  font-size: 15px;
  flex-direction: row;
  margin-top: 0 !important;

  .button-icon {
    display: inline-block;
    padding-right: 10px;
  }
}

.intro {
  width: 55%;
  display: inline-block;
}

.intro-full-width {
  width: 100%;
  display: inline-block;
}

.intro p {
  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
}

.intro-full-width p {
  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
}

.resource-img {
  width: 43%;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  text-align: right;
  position: relative;
}

.resource-img.reverse {
  text-align: left;
}

.link-icon {
  width: 22px;
  height: auto;
  display: inline-block;
  margin-right: 6px;
}

.resources {
  padding-top: 25px;
}

.resource-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1em;

  .external-link {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    vertical-align: middle;
    margin: 0 !important;
    margin-left: 10px !important;
  }

  .external-link-left {
    margin-left: 0px !important;
    margin-right: 10px !important;
  }
}

// The Modal (background)
.modal {
  display: none; // Hidden by default
  position: fixed; // Stay in place
  z-index: 1; // Sit on top
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0, 0, 0); // Fallback color
  background-color: rgba(0, 0, 0, 0.4); // Black w/ opacity
}

.modal-display {
  display: block !important;
}

// Modal Content/Box
.modal-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  background-color: #fefefe;
  margin: 15% auto; // 15% from the top and centered
  padding: 20px;
  border: 1px solid #888;
  width: 80%; // Could be more or less, depending on screen size
  max-width: 550px;
}

// The Close Button
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.model-title {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

//clock
.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#clockAnimation.clock {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 4px #aaa;
  border-radius: 50%;
}

#clockAnimation .pont1, #clockAnimation .pont2 {
  border-radius: 8px;
  background-color: #aaa;
  position: absolute;
  top: calc(50% - (4px / 2));
  left: calc(50% - (4px / 2));
}

#clockAnimation .pont1 {
  width: 20px;
  height: 4px;
}

#clockAnimation .rotatePont {
  width: 40px;
  height: 40px;
  position: absolute;
}

#clockAnimation .rotatePont.rot1 { animation: rotatePont 5s linear infinite; }
#clockAnimation .rotatePont.rot2 { animation: rotatePont 20s linear infinite; }

#clockAnimation .pont2 {
  width: 20px;
  height: 4px;
}

@keyframes rotatePont {
  to { transform: rotate(360deg) }
}

//clock

h1 {
  display: block;
  font-family: $font-roboto;
  font-weight: 900;
  font-style: italic;
  color: $color-white;
  font-size: 48px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  padding-top: 180px;
}

h1.content-heading {
  color: $color-grey;
  font-weight: bold;
  font-family: $font-roboto-slab;
  padding-top: 0;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: .5rem;
}

h2 {
  font-family: $font-lato;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

h3 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #231f20;
  font-size: 18px;
  padding: 8px;
  border-radius: 12px;
  width: 100px;
  margin: 20px auto;
}

p {
  text-align: center;
  color: #231f20;
  font-family: $font-lato;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

.para-button {
  margin-bottom: 15px;
}

.para-link {
  margin-left: 0 !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  background-image: url("../image/homepage_cells-cut.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  content: " ";
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

//organic image
.resource-img-1::after {
  border-radius: 30% 70% 70% 30% / 30% 61% 39% 70%;
  background-color: $color-light-grey;
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: -1;
  transform: rotate(5deg);
  opacity: 1;
  animation: 10s img-shape-animate linear infinite;
}

.resource-img-2::after {
  border-radius: 26% 74% 77% 23% / 53% 42% 58% 47%;
  background-color: $color-blue;
  content: '';
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(5deg);
  opacity: 0.3;
  animation: 10s img-shape-animate linear infinite;
}

@keyframes img-shape-animate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.organic-image-1 {
  border-radius: 30% 70% 70% 30% / 30% 61% 39% 70%;
  z-index: 2;
}

.organic-image-2 {
  border-radius: 26% 74% 77% 23% / 53% 42% 58% 47%;
  z-index: 2;
}

//drawer
:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-b > .bmd-layout-drawer,
:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-t > .bmd-layout-drawer {
  transform: translateY(-100%);
}

.bmd-drawer-f-b > .bmd-layout-drawer {
  height: 50%;
  bottom: -50%;
}

.bmd-layout-header {
  padding: 0;
  top: 0;
  position: fixed;
  width: 768px;
  background: rgba(255, 255, 255, 0.2);
}

.navbar-light .navbar-toggler {
  background-color: $color-white;
  font-style: normal !important;
  border: none;
  border-radius: 10px;
  color: #111111 !important;
}

.drawer-close {
  position: absolute;
  margin: 1em;
  right: 0;
  font-style: normal !important;
  border-radius: 10px;
  color: #111111 !important;
  padding: 0px 10px;
  width: 100px;
  font-size: 18px !important;
  color: #ffffff !important;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #c11f3f;
  border: 0;
}

.bmd-layout-drawer > header .navbar-brand {
  font-size: 2em;
}

.btn-primary.custom-file-control:before, .btn.btn-primary {
  color: $color-primary !important;
  font-size: 1.5em;
  text-align: left;
  padding: 1rem 3rem;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
  background: #eee;
  margin-bottom: 0;
}

.btn-primary.custom-file-control:before, .btn.btn-primary[aria-expanded="false"] {
  color: $color-primary !important;
  font-size: 1.5em;
  text-align: left;
  padding: 1rem 3rem;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
  background: #fff;
  margin-bottom: 0;
}

#collapseExample {
  background: #f2f2f2;
}

#collapseExample .list-group {
  padding: 10px 3.5em;
  padding-bottom: 2em;
  display: block;
}

.bmd-layout-drawer > .list-group .list-group-item {
  color: $color-primary !important;
  font-size: 1.5em;
  margin: 0 auto;
  width: 640px;
  border-bottom: 1px solid #cdcdcd;
  text-transform: capitalize;
  line-height: 1.5em;
}

#collapseExample .list-group-item {
  color: #111111 !important;
  font-size: 1.5em;
  margin: 0 auto;
  width: 600px;
  border-bottom: 1px solid #cdcdcd;
  text-transform: capitalize;
}

#collapseExample .list-group-item.current {
  color: $color-white !important;
  font-weight: bold !important;
  background-color: $color-primary;
  border-bottom: 0;
}

.bmd-drawer-f-b > .bmd-layout-drawer.heart-drawer {
  height: 100%;
  bottom: -100%;
}

.bmd-layout-drawer > .list-group {
  margin: 0 1.5em;
  padding-top: 0;
}

.full-width {
  width: 100% !important;
}

.pdf-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pdf-card-icon {
  width: 30px;
}

.pdf-card-text {
  text-align: left;
  padding-left: 10px;
}


//bg-logo
.bg-logo{
    position: absolute;
    height: 80%;
}
.index-content{
    text-align: left;

    p{
        width: 60%;
         text-align: left;
         color: white;
         font-weight: normal;
         font-size: 18px;
    }
}